.App {
  text-align: center;

}
.grid {
margin-top: 2%;
padding-left: 0.5rem;
padding-right: 0.5rem;
}
.db-table{
  margin-top: 5%;
}
.text-item{
  text-align: center;
}
.nlp-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nlp-input{
  width: 100%;
}
.nlp-input-text{
  width: 100%;
}

.table{
  margin-top: 5rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
